/* ----------------------------------------スマホ------------------------------------ */


@media screen and (max-width: 480px) {

  .main {
    background-image: url(./img/アセット\ 2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
  }

}